<div class="rounded-5">
  <div class="modal-header border-success bg-success">
    <h5 class="modal-title" id="exampleModalLabel">
      {{ messaggio }}
    </h5>
    <button
      type="button"
      class="btn-close btn-primary"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-footer bg-success d-flex justify-content-center gap-3">
    <button
      (click)="modalRef.close()"
      type="button"
      class="btn btn-primary text-success shadow-none"
      style="width: 50px"
    >
      OK
    </button>
  </div>
</div>
