<div class="rounded-5">
  <div class="modal-header border-success bg-success">
    <h5 class="modal-title" id="exampleModalLabel">
      {{ titolo }}
    </h5>
    <i
      (click)="modalRef.close()"
      class="bi bi-x-lg text-white fs-4"
      aria-label="Close"
      style="cursor: pointer"
    ></i>
  </div>
  <div class="modal-footer bg-success d-flex justify-content-center gap-3">
    <button
      (click)="modalRef.close()"
      type="button"
      class="btn btn-primary text-success shadow-none"
      style="width: 50px"
    >
      OK
    </button>
  </div>
</div>
