<div class="container-fluid text-center mt-3 min-vh-100">
  <h1 class="display-1">404</h1>

  <h3 class="text-secondary mb-4">
    Siamo spiacenti, la pagina che stai cercando non esiste.
  </h3>
  <h3 class="d-flex align-items-center justify-content-center gap-4">
    Torna alla
    <button class="btn btn-primary text-success" [routerLink]="['/']">
      Home
    </button>
  </h3>
  <img
    class="img-fluid rounded-5 mt-3"
    src="../../../assets/medium-shot-man-holding-smartphone.jpg"
    alt="uomo con smartphone in campo da padel"
    style="max-width: 50%"
  />
</div>
