<div class="container w-50 text-center mt-4">
  <h1>Login</h1>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        autocomplete="email"
        class="form-control"
        ngModel
      />
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        autocomplete="current-password"
        class="form-control"
        ngModel
      />
    </div>
    <button
      type="submit"
      [disabled]="loginForm.invalid"
      class="btn btn-primary mt-4 text-success shadow-none"
    >
      Accedi
    </button>
  </form>
</div>
