.trasparenza {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
}

.contenitore-img {
  background-image: url("../../../assets/padel-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden !important;
}

@media (max-width: 768px) {
  .contenitore-img {
    height: auto;
    padding: 0;
    overflow: hidden !important;
  }
  .spazio {
    margin-top: 50px;
  }

  .contenitore-img .mask {
    padding: 20px;
    margin-top: 40px;
  }

  .trasparenza {
    padding: 15px;
  }

  .white-text h1,
  .white-text h3,
  .white-text p {
    font-size: 1rem;
  }

  .card-body h5.display-4 {
    font-size: 1.5rem;
  }

  .card-body h4 {
    font-size: 1.2rem;
  }

  .card-body .review-text,
  .card-body .review-author {
    font-size: 0.9rem;
  }

  .btn-lg {
    font-size: 1rem;
    padding: 10px 20px;
  }
}
