<!-- <div>
  <div class="bg-image">
    <img
      src="../../../assets/padel-home.jpg"
      class="img-fluid"
      alt="padel-home"
    />
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <p class="text-white mb-0">Can you see me?</p>
      </div>
    </div>
  </div>
  <!-- <img
    class="img-fluid position-relative"
    src="../../../assets/padel-home.jpg"
    alt="padel-image"
  /> 
</div> -->

<div class="carousel-inner rounded-5 shadow-4-strong">
  <mdb-carousel [indicators]="true" [animation]="'fade'">
    <mdb-carousel-item>
      <img
        src="../../../assets/donne-che-giocano-a-paddle-tennis-vista-laterale.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <img
        src="../../../assets/padel-home.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <img
        src="../../../assets/donne-che-giocano-a-paddle-tennis-vista-laterale.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<!-- <mdb-carousel [controls]="true" [indicators]="true">
  <mdb-carousel-item>
    <img
      src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp"
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp"
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp"
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>
</mdb-carousel> -->
