@import "../../../styles.scss";

.custom-table {
  background-color: $text !important;
}

.custom-table tbody tr,
.custom-table tbody td {
  height: 40px;
}

.custom-table tbody td:hover {
  cursor: pointer;
  background-color: $primary !important;
  position: relative;
}

.custom-table td,
.custom-table th {
  vertical-align: middle;
  text-align: center;
  height: 50px !important;
}

.custom-table .empty-slot,
.custom-table .slot-orario {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

table .btn {
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.delete-btn {
  display: none;
}

.slot-orario:hover .delete-btn {
  display: block;
}

.hover-none:hover {
  display: none;
}

@media (max-width: 576px) {
  td,
  .mobile button {
    font-size: 12px;
  }
  .campo-col,
  .mobile {
    width: 100% !important;
    display: block;
  }
  .desktop {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .desktop {
    display: block;
    width: 40% !important;
  }
  .mobile {
    display: none;
  }
}
