.sidebar {
  position: fixed;
  top: 82px;
  bottom: 0;
  left: 0;
  width: 15rem;
  z-index: 600;
}

@media (max-width: 576) {
  .sidebar {
    width: 50%;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh);

  overflow-x: hidden;
  overflow-y: auto;
}

.cursor-not-allowed {
  pointer-events: none;
  cursor: not-allowed;
}

#sidebar ul li a {
  text-align: left;
}

.btn {
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    font-size: initial;
  }
}

header {
  width: 15rem;
}

.main-content {
  margin-left: 15rem;
}

.container.mt-2 {
  max-width: 100%;
  width: calc(100% - 15rem);
  margin: 0 auto;
}
