<header class="position-relative">
  <button
    class="btn btn-primary text-success d-lg-none"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu"
    aria-expanded="false"
    aria-controls="sidebarMenu"
    style="position: absolute; left: 0; top: -50px; z-index: 900"
  >
    <i class="bi bi-list me-2"></i>
  </button>
  <nav
    id="sidebarMenu"
    class="d-lg-block sidebar collapse trasparenza sticky-top"
  >
    <div class="position-sticky w-100">
      <ul class="navbar-nav flex-column mt-4">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['gestione-disponibilita']"
            routerLinkActive="active"
          >
            <i class="bi bi-speedometer2 me-2"></i>
            Gestione disponibilità
          </a>
        </li>
        <li class="dropdown-divider mb-3 bg-primary"></li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['gestione-campi']"
            routerLinkActive="active"
          >
            <i class="bi bi-layout-text-sidebar-reverse me-2"></i>
            Campi da gioco
          </a>
        </li>
        <li class="dropdown-divider mb-3 bg-primary"></li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['gestione-partite']"
            routerLinkActive="active"
          >
            <i class="bi bi-trophy me-2"></i>
            Partite
          </a>
        </li>
        <li class="dropdown-divider mb-3 bg-primary"></li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['gestione-users']"
            routerLinkActive="active"
          >
            <i class="bi bi-people me-2"></i>
            Utenti
          </a>
        </li>
        <li class="dropdown-divider bg-primary mb-3"></li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['statistiche']"
            routerLinkActive="active"
          >
            <i class="bi bi-graph-up me-2 mb-3"></i>
            Statistiche
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Sidebar Toggle Button -->
</header>

<main style="margin-top: 58px">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
<!--Main layout-->
