<header class="position-relative">
  <nav
    id="sidebarMenu"
    class="d-lg-block sidebar collapse bg-success py-5 px-4 sticky-top"
  >
    <div class="position-sticky w-100">
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['gestione-disponibilita']"
            routerLinkActive="active"
          >
            <i class="bi bi-calendar4-week me-2"></i>
            Gestione disponibilità
          </a>
        </li>
        <li class="dropdown-divider mb-3 bg-primary"></li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['gestione-campi']"
            routerLinkActive="active"
          >
            <i class="bi bi-square-half me-2"></i>
            Campi da gioco
          </a>
        </li>
        <li class="dropdown-divider mb-3 bg-primary"></li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['gestione-partite']"
            routerLinkActive="active"
          >
            <i class="bi bi-trophy me-2"></i>
            Partite
          </a>
        </li>
        <li class="dropdown-divider mb-3 bg-primary"></li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['gestione-users']"
            routerLinkActive="active"
          >
            <i class="bi bi-people me-2"></i>
            Utenti
          </a>
        </li>
        <li class="dropdown-divider bg-primary mb-3"></li>
      </ul>
      <button class="btn btn-secondary mt-3 w-100">Logout</button>
    </div>
  </nav>
</header>

<main class="main-content">
  <div class="container mt-2">
    <router-outlet></router-outlet>
  </div>
</main>
