<!--Main Navigation-->

<!-- Sidebar -->

<!-- Sidebar Toggle Button -->
<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav
    id="sidebarMenu"
    class="collapse d-lg-block sidebar collapse-transparent"
  >
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a
          [routerLink]="['gestione-disponibilita']"
          routerLinkActive="router-link-active"
          class="list-group-item list-group-item-action py-3"
        >
          <i class="bi bi-speedometer2 me-2"></i>
          <span>Gestione disponibilità</span>
        </a>
        <a
          [routerLink]="['gestione-campi']"
          class="list-group-item list-group-item-action py-3"
        >
          <i class="bi bi-bar-chart me-2"></i>
          <span>Campi da gioco</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3">
          <i class="bi bi-lock me-2"></i>
          <span>Partite</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3">
          <i class="bi bi-graph-up me-2"></i>
          <span>Statistiche</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3">
          <i class="bi bi-people me-2"></i>
          <span>Utenti</span>
        </a>
      </div>
    </div>
  </nav>

  <!-- Sidebar Toggle Button -->
  <button
    class="btn btn-primary d-lg-none"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu"
    aria-expanded="false"
    aria-controls="sidebarMenu"
  >
    <i class="bi bi-list me-2"></i>
  </button>
  <!-- End Sidebar Toggle Button -->
</header>
<!--Main Navigation-->

<!-- End Sidebar Toggle Button -->

<!--Main Navigation-->

<!--Main Navigation-->

<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px">
  <router-outlet></router-outlet>
</main>
<!--Main layout-->
