.sidebar {
  position: fixed;
  top: 82px;
  bottom: 0;
  left: 0;
  width: 16rem;
  z-index: 600;
}

@media (min-width: 768px) {
  .container.mt-2 {
    max-width: 100%;
    width: calc(100% - 16rem);
    margin: 0 auto;
  }
  .main-content {
    margin-left: 16rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh);

  overflow-x: hidden;
  overflow-y: auto;
}

.cursor-not-allowed {
  pointer-events: none;
  cursor: not-allowed;
}

#sidebar ul li a {
  text-align: left;
}

.btn {
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    font-size: initial;
  }
}

header {
  width: 16rem;
}
