@import "../../../styles.scss";

.custom-table {
  background-color: $text !important;
}

.trasparenza {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.cursor-not-allowed {
  pointer-events: none !important;
  cursor: not-allowed !important;
}

.selezionati {
  background-color: $primary !important;
}

.custom-border-radius {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
}

.custom-border-radius-2 {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.custom-table tbody tr {
  height: 40px;
}

.custom-table tbody td {
  height: 40px;
}

.custom-table tbody td:hover {
  cursor: pointer;
  background-color: $primary;
}

.custom-table tbody td.cursor-not-allowed:hover {
  background-color: inherit !important; // Mantieni il colore di sfondo originale
}

@media (max-width: 576px) {
  td {
    font-size: 12px;
  }
  .span-ora {
    display: none;
  }
  .disposizione {
    width: auto;
  }
  .main-container {
    width: 100%;
  }
  table {
    width: 100% !important;
  }
  .custom-button {
    font-size: 10px;
  }
}

@media (min-width: 576px) {
  .disposizione {
    width: 20% !important;
    display: flex;
    table {
      width: 22% !important;
    }
  }
}

.gray {
  color: rgb(159, 158, 158);
}

.table td,
.table th {
  vertical-align: middle;
  text-align: center;
  padding: 0;
}

.background {
  background-color: $background !important;
}

.highlight {
  scale: 1.04;
  transition: transform 0.01s ease-in-out;
  will-change: transform;
}

.table td {
  border-radius: 10px;
  background-color: white;
}

.cursor-not-allowed {
  pointer-events: none !important;
  cursor: not-allowed !important;
}

.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.table:hover {
  scale: 1.03;
}

.custom-table tbody td:hover {
  cursor: pointer;
  background-color: $primary;
}

.custom-table tbody td.cursor-not-allowed:hover {
  cursor: not-allowed !important;
  background-color: inherit !important; // Mantieni il colore di sfondo originale
}
