@import "../../../styles.scss";

.custom-table {
  background-color: $text !important;
}

.custom-table tbody tr {
  height: 40px;
}

.custom-table tbody td {
  height: 40px;
}
.custom-table tbody td:hover {
  cursor: pointer;
  background-color: $primary !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.custom-table tbody tr:hover td span {
  color: inherit;
}

.trasparenza {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.no-pointer {
  pointer-events: none;
  cursor: not-allowed;
}

@media (max-width: 576px) {
  td {
    font-size: 12px;
  }
}
