<!-- Footer -->
<footer class="text-center text-lg-start text-white bg-success">
  <!-- Grid container -->
  <div class="container p-1 pb-0">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row justify-content-center">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 text-center">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            Materiale fotografico
          </h6>
          <p>
            <a href="https://www.freepik.com/images" target="_blank"
              >www.freepik.com</a
            >
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto text-center mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contatti</h6>
          <p><i class="fas fa-home mr-3"></i> Via Rossi 99, Vicenza, Veneto</p>
          <p>
            <a href="mailto:circolo.padel@gmail.com">
              <i class="fas fa-envelope mr-3"></i> circolo.padel&#64;gmail.com
            </a>
          </p>
          <p><i class="fas fa-phone mr-3"></i> + 3290364749</p>
          <p><i class="fas fa-print mr-3"></i> + 0444/492439</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto text-center mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Seguici</h6>
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #ac2bac"
            href="https://www.instagram.com/marcello_mercanzin/"
            role="button"
            target="_blank"
            ><i class="bi bi-instagram"></i
          ></a>
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #0082ca"
            href="https://www.linkedin.com/in/marcello-mercanzin/"
            role="button"
            target="_blank"
            ><i class="bi bi-linkedin"></i
          ></a>
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #333333"
            href="https://github.com/marcimerca"
            role="button"
            target="_blank"
            ><i class="bi bi-github"></i
          ></a>
        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Marcello Mercanzin</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
