<div class="p-3 p-md-4 p-xl-5 background-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xxl-11">
        <div
          class="border-light-subtle rounded-8 shadow-lg trasparenza d-flex justify-content-between border border-2 border-opacity-50 border-info p-0"
        >
          <div class="row g-0">
            <div
              class="col-12 col-md-6 d-flex align-items-center justify-content-center"
            >
              <div class="col-12 col-lg-11 col-xl-10">
                <div class="card-body p-3 p-md-4 p-xl-5">
                  <div class="row">
                    <div class="col-12">
                      <div class="mb-5">
                        <div class="text-center mb-4">
                          <h2 class="h4">Registrati</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                  <form
                    [formGroup]="registerForm"
                    (ngSubmit)="register(registerForm)"
                  >
                    <div class="row gy-3 overflow-hidden">
                      <div class="col-12">
                        <div class="form-floating mb-4 position-relative">
                          <input
                            type="text"
                            class="form-control rounded-5"
                            name="username"
                            id="username"
                            placeholder="Username"
                            formControlName="username"
                            mdbValidate
                            required
                          />
                          <label for="username" class="form-label"
                            >Username</label
                          >
                          <div class="mess-errore">
                            <span
                              *ngIf="
                                getFormControl('username')?.invalid &&
                                getFormControl('username')?.touched
                              "
                            >
                              <ng-container
                                *ngIf="getErrorsControl('username', 'required')"
                              >
                                <p class="text-danger">
                                  Il campo username è obbligatorio
                                </p>
                              </ng-container>
                              <ng-container
                                *ngIf="
                                  getErrorsControl('username', 'minlength')
                                "
                              >
                                <p class="text-danger">
                                  Il campo username deve avere almeno 5
                                  caratteri
                                </p>
                              </ng-container>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating mb-4 position-relative">
                          <input
                            type="text"
                            class="form-control rounded-5"
                            name="nome"
                            id="nome"
                            placeholder="Nome"
                            formControlName="nome"
                            autocomplete="nome"
                            required
                          />
                          <label for="nome" class="form-label">Nome</label>
                          <div class="mess-errore">
                            <span
                              *ngIf="
                                getFormControl('nome')?.invalid &&
                                getFormControl('nome')?.touched
                              "
                            >
                              <ng-container
                                *ngIf="getErrorsControl('nome', 'required')"
                              >
                                <p class="text-danger">
                                  Il campo nome è obbligatorio
                                </p>
                              </ng-container>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating mb-4 position-relative">
                          <input
                            type="text"
                            class="form-control rounded-5"
                            name="cognome"
                            id="cognome"
                            placeholder="Cognome"
                            formControlName="cognome"
                            autocomplete="cognome"
                            required
                          />
                          <label for="cognome" class="form-label"
                            >Cognome</label
                          >
                          <div class="mess-errore">
                            <span
                              *ngIf="
                                getFormControl('cognome')?.invalid &&
                                getFormControl('cognome')?.touched
                              "
                            >
                              <ng-container
                                *ngIf="getErrorsControl('cognome', 'required')"
                              >
                                <p class="text-danger">
                                  Il campo cognome è obbligatorio
                                </p>
                              </ng-container>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input
                            type="email"
                            class="form-control rounded-5"
                            name="email"
                            id="email"
                            placeholder="la@tuaemail.com"
                            formControlName="email"
                            autocomplete="email"
                            required
                          />
                          <label for="email" class="form-label">Email</label>
                          <div class="mess-errore">
                            <span
                              *ngIf="
                                getFormControl('email')?.invalid &&
                                getFormControl('email')?.touched
                              "
                            >
                              <ng-container
                                *ngIf="getErrorsControl('email', 'required')"
                              >
                                <p class="text-danger">
                                  Il campo email è obbligatorio
                                </p>
                              </ng-container>
                              <ng-container
                                *ngIf="getErrorsControl('email', 'email')"
                              >
                                <p class="text-danger">
                                  Il campo deve contenere una mail valida
                                </p>
                              </ng-container>
                              <ng-container
                                *ngIf="
                                  getFormControl('email')?.errors &&
                                  (getFormControl('email')?.errors)![
                                    'alreadyExists'
                                  ]
                                "
                              >
                                <p class="text-danger">
                                  Email già presente nel sistema
                                </p>
                              </ng-container>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating mb-5 position-relative">
                          <input
                            type="password"
                            class="form-control rounded-5"
                            name="password"
                            id="password"
                            formControlName="password"
                            autocomplete="password"
                            placeholder="Password"
                            required
                          />
                          <label for="password" class="form-label"
                            >Password</label
                          >
                          <div class="mess-errore">
                            <span
                              *ngIf="
                                getFormControl('password')?.invalid &&
                                getFormControl('password')?.touched
                              "
                            >
                              <ng-container
                                *ngIf="getErrorsControl('password', 'required')"
                              >
                                <p class="text-danger">
                                  Il campo password è obbligatorio
                                </p>
                              </ng-container>
                              <ng-container
                                *ngIf="getErrorsControl('password', 'pattern')"
                              >
                                <p class="text-danger">
                                  La password deve essere lunga almeno 8
                                  caratteri, contenere una lettera maiuscola,
                                  una minuscola, un numero e un carattere
                                  speciale.
                                </p>
                              </ng-container>
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 mt-5">
                        <div>
                          <button
                            class="btn btn-primary btn-lg text-success rounded-5 w-100"
                            [disabled]="registerForm.invalid"
                            type="submit"
                          >
                            Registrati
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="row">
                    <div class="col-12">
                      <p class="mb-0 mt-5 text-center">
                        Hai già un account?
                        <a
                          [routerLink]="['/login']"
                          routerLinkActive="active"
                          class="link-primary"
                          >Login</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
