.card {
  background-color: #145eb8;
}
a {
  text-decoration: none;
  transition: transform 0.3s ease, font-size 0.3s ease;
  &:hover {
    text-decoration: underline;
    font-size: larger;
  }
}

.trasparenza {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
}

#responsive-image {
  max-height: 1000px;
  object-fit: cover;
}

@media (max-width: 767px) {
  #responsive-image {
    max-height: 300px;
    width: 100%;
  }
  img {
    border-bottom: 2px solid rgb(238, 233, 233, 50%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
@media (min-width: 767px) {
  img {
    border-right: 2px solid rgb(238, 233, 233, 50%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.mess-errore {
  min-height: 1.5em;
  position: absolute;
  color: red;
  top: 100%;
  left: 0;
  width: 100%;
}

.background-container {
  background-image: url("../../../assets/high-angle-palette-balls-field.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.auth-section {
  transition: opacity 0.5s ease-in-out;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background-container {
  background-color: #f8f9fa;
  padding: 3rem 1rem;
}

.auth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

h1,
h2 {
  margin-bottom: 2rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767.98px) {
  .background-container {
    padding: 2rem 1rem;
  }
  .auth-section {
    height: auto;
  }
}

@media (min-width: 768px) {
  .card-body {
    height: 100%;
  }
}

.background-container {
  background-color: #f8f9fa;
  padding: 3rem 1rem;
}

.auth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

h1,
h2 {
  margin-bottom: 2rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767.98px) {
  .background-container {
    padding: 2rem 1rem;
  }

  .auth-section {
    height: auto;
  }

  .d-none.d-md-flex {
    display: none !important;
  }

  .card-body {
    height: auto !important;
  }
}

@media (min-width: 768px) {
  .card-body {
    height: 100%;
  }
}
