<div class="container my-4 position-relative w-100">
  <div class="row g-0 justify-content-start">
    <div class="col-5 col-md-4 d-flex border-end border-success">
      <div class="card custom-border-radius w-100 p-3 bg-primary trasparenza">
        <label for="data" class="text-success mb-2">Scegli data</label>
        <input
          type="date"
          name="data"
          class="form-control"
          (input)="onCambioData()"
          [(ngModel)]="dataSelezionata"
        />
      </div>
    </div>
    <div class="col-5 col-md-3 d-flex">
      <div class="d-flex align-items-center justify-content-center h-100 w-100">
        <a
          [routerLink]="['/prenotazione']"
          class="custom-border-radius-2 btn btn-primary rounded-top-end text-success shadow-none h-100 w-100 d-flex align-items-center justify-content-center"
        >
          Crea Partita
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container text-start mt-3" *ngIf="partite">
  <h1 *ngIf="dataOggi" class="mb-3 text-primary">Partite del giorno</h1>
  <h1 *ngIf="!dataOggi" class="mb-3 text-primary">
    Partite del {{ formatattaDataParole(dataSelezionata) }}
  </h1>
  <div class="row position-relative">
    <div
      class="d-flex justify-content-center text-primary align-items-center position-fixed z-3"
      *ngIf="caricamento"
      style="
        z-index: 1050;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%);
      "
    >
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div *ngFor="let partita of partite" class="mb-3 col-md-6">
      <div
        class="card trasparenza rounded-5 p-1 d-flex shadow position-relative z-0"
      >
        <button
          type="button"
          class="btn btn-secondary btn-floating btn-sm"
          aria-label="Close"
          (click)="apriModaleEliminaPartita(partita.id!)"
          style="position: absolute; top: -10px; right: -12px; z-index: 10"
        >
          <i class="bi bi-x-circle-fill fs-3"></i>
        </button>
        <div
          class="card-body p-2 text-start my-3 d-flex flex-column justify-content-center"
        >
          <div
            class="position-relative border-bottom d-flex justify-content-between align-items-center border-secondary pb-4 h-100"
          >
            <h5 class="card-title m-0">
              {{ formatattaDataParole(partita.dataPrenotazione) }}<br />
              {{ partita.slotOrario.inizio | slice : 0 : 5 }} -
              {{ partita.slotOrario.fine | slice : 0 : 5 }}
            </h5>
            <div
              class="vr bg-primary position-absolute start-50"
              style="top: -15px; height: 100%; width: 2px"
            ></div>
            <div class="d-flex flex-column justify-content-center gap-1">
              <h5 class="card-subtitle text-primary">
                {{ partita.slotOrario.campo.nomeCampo }}
              </h5>
              <span
                [ngClass]="{
                    'bg-secondary':
                      partita.numGiocatoriAttuali < partita.numMaxGiocatori,
                    'bg-primary':
                      partita.numGiocatoriAttuali == partita.numMaxGiocatori,
                    
                  }"
                class="badge rounded-pill text-success rounded-pill d-block"
                style="width: 130px"
                >{{
                  partita.numGiocatoriAttuali === partita.numMaxGiocatori
                    ? "Partita completa"
                    : "Partita incompleta"
                }}</span
              >
            </div>
          </div>
          <div class="d-flex justify-content-center mt-4 mb-2">
            <div
              *ngFor="let i of [0, 1, 2, 3]; let j = index"
              class="avatar-wrapper"
            >
              <ng-container
                *ngIf="
                  j < partita.utentiPrenotati.length;
                  else placeholderAvatar
                "
              >
                <button
                  (click)="
                    apriModaleAnnullaPrenotazione(
                      partita.id!,
                      partita.utentiPrenotati[j].id!
                    )
                  "
                  class="btn btn-primary rounded-circle position-relative btn-floating"
                  style="width: 50px; height: 50px; border: none"
                >
                  <img
                    [src]="
                      partita.utentiPrenotati[j].avatar
                        ? partita.utentiPrenotati[j].avatar
                        : '../../../assets/Profile-Avatar-PNG-Free-Download.png'
                    "
                    alt="{{ partita.utentiPrenotati[j].nome }}"
                    class="w-100 h-100 rounded-circle img-fluid"
                    style="object-fit: cover"
                  />
                  <span
                    class="position-absolute fw-bold top-0 end-0 badge bg-success border border-secondary text-primary rounded-pill d-flex justify-content-center align-items-center"
                    style="
                      width: 20px;
                      height: 20px;
                      transform: translate(30%, -30%);
                    "
                  >
                    -
                  </span>
                </button>
                <div class="mt-2 text-center avatar-text nome h6">
                  <span
                    class="d-block d-md-inline"
                    title="{{
                      partita.utentiPrenotati[j].nome.charAt(0).toUpperCase() +
                        partita.utentiPrenotati[j].nome.slice(1) +
                        ' ' +
                        partita.utentiPrenotati[j].cognome
                          .charAt(0)
                          .toUpperCase() +
                        partita.utentiPrenotati[j].cognome
                          .slice(1)
                          .toLowerCase()
                    }}"
                  >
                    {{
                      partita.utentiPrenotati[j].nome.charAt(0).toUpperCase()
                    }}.
                  </span>
                  <span class="d-inline">
                    {{
                      partita.utentiPrenotati[j].cognome
                        .charAt(0)
                        .toUpperCase() +
                        partita.utentiPrenotati[j].cognome
                          .slice(1)
                          .toLowerCase()
                    }}
                  </span>
                </div>
              </ng-container>
              <ng-template #placeholderAvatar>
                <button
                  [ngClass]="{
                    'custom-filter': partita.numGiocatoriAttuali == 4
                  }"
                  *ngIf="!partitaBloccata"
                  class="btn btn-success rounded-circle position-relative btn-floating shadow"
                  style="width: 50px; height: 50px"
                >
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/archive/3/36/20120517134445%21Tennis_ball_3.svg"
                    alt="Placeholder Avatar"
                    class="w-100 h-100 rounded-circle img-fluid"
                    style="object-fit: cover"
                  />
                  <span
                    *ngIf="
                      partita.numGiocatoriAttuali != 4 &&
                      isFutureDate(
                        partita.dataPrenotazione,
                        partita.slotOrario.inizio
                      )
                    "
                    class="position-absolute top-0 end-0 border border-secondary badge bg-success text-primary rounded-pill d-flex justify-content-center align-items-center"
                    style="
                      width: 20px;
                      height: 20px;
                      transform: translate(30%, -30%);
                    "
                  >
                    +
                  </span>
                </button>
                <div
                  class="mt-2 text-center text-secondary avatar-text nome h6"
                >
                  {{
                    partita.numGiocatoriAttuali === partita.numMaxGiocatori
                      ? "Bloccato"
                      : "Mancante"
                  }}
                </div>
              </ng-template>
            </div>
          </div>
          <div class="d-flex justify-content-center gap-1 gap-md-3 mt-3">
            <button
              style="width: 220px"
              [ngClass]="{ disabled: partita.utentiPrenotati.length < 4 }"
              class="btn btn-success btn-sm text-primary shadow-none custom-button"
              (click)="apriModaleRisultato2(partita)"
            >
              Registra risultato
            </button>
            <button
              style="width: 220px"
              class="btn btn-sm custom-button"
              [ngClass]="{
                'btn-secondary  shadow-none text-success':
                  partita.numGiocatoriAttuali < partita.numMaxGiocatori,
                'btn-primary shadow-none text-success':
                  partita.numGiocatoriAttuali === partita.numMaxGiocatori
              }"
              *ngIf="
                isFutureDate(
                  partita.dataPrenotazione,
                  partita.slotOrario.inizio
                ) && partita.utentiPrenotati.length < 4
              "
              (click)="bloccaESbloccaPartecipazione(partita.id!)"
            >
              {{
                partita.numGiocatoriAttuali === partita.numMaxGiocatori
                  ? "Sblocca prenotazioni"
                  : "Blocca prenotazioni"
              }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="dataOggi && partite.length === 0">
    <p>Nessuna partita presente per oggi</p>
  </ng-container>
  <ng-container *ngIf="!dataOggi && partite.length === 0">
    <div class="rounded-5">
      <p class="h4 mb-4">
        Nessuna partita presente per la data selezionata, scegli un altro giorno
        o crea una nuova partita!
      </p>
      <img
        class="img-fluid rounded-5"
        src="../../../assets/medium-shot-man-holding-smartphone.jpg"
        alt="uomo con smartphone in campo da padel"
        style="max-width: 50%"
      />
    </div>
  </ng-container>
</div>
