.custom-border-radius {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
}

.custom-border-radius-2 {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.custom-filter {
  filter: brightness(15%) contrast(80%);
}

@media (max-width: 576px) {
  .nome {
    font-size: 12px;
  }
  h5 {
    font-size: 15px;
  }
  .custom-button {
    font-size: 11px;
    padding: 10px;
  }
}
.custom-button {
  width: 220px;
}
.avatar-wrapper {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.avatar-text span {
  margin-right: 0;
  padding-right: 0;
}
.spinner {
  z-index: 1050 !important;
}
