<nav class="navbar navbar-expand-lg trasparenza sticky-top">
  <div class="container">
    <!-- <a class="nav-link navbar-brand text-info" [routerLink]="['/']"
      >Padel App</a
    > -->
    <a
      *ngIf="user?.ruolo === 'ADMIN'"
      class="nav-link navbar-brand text-info"
      [routerLink]="['/admin-dashboard']"
      >Dashboard</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item" *ngIf="!user">
          <a
            class="nav-link"
            [routerLink]="['/register']"
            routerLinkActive="active"
            >Registrati</a
          >
        </li>
        <li class="nav-item" *ngIf="!user">
          <a
            class="nav-link"
            [routerLink]="['/login']"
            routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item" *ngIf="user">
          <a
            class="nav-link"
            [routerLink]="['/partite-del-giorno']"
            routerLinkActive="active"
            >Partite del giorno</a
          >
        </li>
        <li class="nav-item" *ngIf="user">
          <a
            class="nav-link"
            [routerLink]="['/prenotazione']"
            routerLinkActive="active"
            >Prenotazione</a
          >
        </li>
        <li class="nav-item" *ngIf="user">
          <a
            class="nav-link"
            [routerLink]="['/profilo-utente']"
            routerLinkActive="active"
            >Profilo</a
          >
        </li>
      </ul>
      <h5 *ngIf="user" class="me-4">Benvenuto {{ user.nome }}</h5>
      <button *ngIf="user" class="btn btn-secondary me-2" (click)="logout()">
        Logout
      </button>
    </div>
  </div>
</nav>
