@import "../../../styles.scss";

body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 82px;
  bottom: 0;
  left: 0;
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh);

  overflow-x: hidden;
  overflow-y: auto;
}

.custom-table {
  background-color: $text !important;
}
// .background-color {
//   background-color: $background;
// }
.trasparenza {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.cursor-not-allowed {
  pointer-events: none;
  cursor: not-allowed;
}
#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar .sidebar-header strong {
  display: none;
}
#sidebar.active .sidebar-header h3 {
  display: none;
}
#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.selezionati {
  background-color: $primary !important;
}

.custom-table tbody tr {
  height: 45px;
}
.background {
  background-color: $background;
}

.custom-table tbody td {
  height: 40px;
}
.custom-table tbody td:hover {
  cursor: pointer;
  background-color: $primary !important;
  position: relative;
  border: 0 !important;
}
@media (max-width: 576px) {
  td {
    font-size: 12px;
  }
  .btn-custom {
    /* Padding più piccolo */
    font-size: 0.6rem; /* Dimensione del testo ridotta */
  }
  .sticky-buttons {
    position: sticky;
    left: 0;
    width: 100%; /* Assicurati che si estenda per tutta la larghezza del viewport */
    z-index: 1000; /* Mantienilo sopra agli altri contenuti */
  }
}

table .btn {
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  &:hover {
    color: $text;
  }
}

.table td,
.table th {
  vertical-align: middle;
  text-align: center;
  padding: 0;
}

.table-responsive-sm {
  overflow-x: auto;
  position: relative;
}

// .table-responsive-sm::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 10px;
//   height: 100%;
//   border: 3px solid red($color: #000000);
// }

.layout-desktop {
  display: block;
}

.layout-mobile {
  display: none;
}

/* Layout per mobile */
@media (max-width: 768px) {
  .layout-desktop {
    display: none;
  }

  .layout-mobile {
    display: block;
  }
}
