<div class="container">
  <div class="container my-4 d-flex flex-column gap-3">
    <div class="d-flex justify-content-start">
      <div class="col-6 col-md-4 d-flex">
        <div class="card rounded-5 w-100 p-3 bg-success">
          <label for="data" class="text-primary mb-2">Scegli data</label>
          <input
            type="date"
            name="data"
            class="form-control"
            (input)="onCambioData()"
            [(ngModel)]="dataSelezionata"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-4 mb-4 text-center">
    <h2 *ngIf="dataOggi" class="text-primary mb-4">Disponibilità per oggi</h2>
    <h2 *ngIf="!dataOggi" class="text-primary mb-4">
      Disponibilità per il {{ formattaData(dataSelezionata) }}
    </h2>

    <div class="container-fluid layout-mobile">
      <div
        class="mb-4 d-flex gap-1 justify-content-center w-100 mb-3 bg-success p-3 rounded-4 top-0 z-3"
      >
        <button
          (click)="selezionaTuttiGliSlot()"
          class="btn btn-sm p-1"
          style="width: 150px"
          [ngClass]="{
                  'btn-secondary  text-success':
                    slotSelezionati.length >0,
                  'btn-primary text-success':
                    slotSelezionati.length  <=0,
                }"
        >
          {{
            slotSelezionati.length > 0 ? "Deseleziona tutto" : "Seleziona tutto"
          }}
        </button>
        <button
          (click)="selezionaTuttiGliSlotNonOccupati()"
          class="btn btn-primary btn-sm btn-custom text-success p-1 p-md-2"
        >
          Seleziona non occupati
        </button>
      </div>

      <div class="d-flex flex-wrap flex-md-nowrap gap-3">
        <div class="col-12 col-md-3" *ngFor="let campo of campiDisp">
          <button
            (click)="selezionaTuttiGliSlotDelCampo(campo)"
            class="btn btn-primary btn-sm text-success w-100 mb-2"
          >
            seleziona campo
          </button>
          <table
            [id]="campo.id"
            class="table table-striped table-borderless custom-table table w-100 bg-white"
            style="border-radius: 20px; background-color: white"
          >
            <thead>
              <tr>
                <th
                  class="h5 text-primary bg-success align-items-center border-0 p-3"
                  style="
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                  "
                >
                  <div class="d-flex flex-column justify-content-center">
                    <span>{{ campo.nomeCampo }}</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let slot of getNumMaxSlotsArray()">
                <td class="h-100">
                  <div
                    *ngIf="campo.slotOrari[slot.index]; else emptySlot"
                    class="h-100"
                  >
                    <div
                      (click)="selezionaSlot(campo.slotOrari[slot.index])"
                      [ngClass]="{
                    'disabled cursor-not-allowed':
                      verificaBottoneDisabilitato(campo.slotOrari[slot.index].inizio),
                    selezionato: verificaSlotSelezionato(campo.slotOrari[slot.index]),
                  }"
                      class="position-relative d-flex align-items-center justify-content-center h-100 rounded-6"
                      style="min-height: 35px"
                    >
                      <span
                        *ngIf="!campo.slotOrari[slot.index].occupato"
                        [ngClass]="{
                      'text-success': !verificaBottoneDisabilitato(campo.slotOrari[slot.index].inizio),
                      'text-muted': verificaBottoneDisabilitato(campo.slotOrari[slot.index].inizio),
                    }"
                      >
                        {{ campo.slotOrari[slot.index].inizio | slice : 0 : 5 }}
                        -
                        {{ campo.slotOrari[slot.index].fine | slice : 0 : 5 }}
                      </span>
                      <div
                        *ngIf="campo.slotOrari[slot.index].occupato"
                        class="d-flex align-items-center justify-content-center h-100 w-100"
                      >
                        <span
                          [ngClass]="{
                            'bg-primary text-success':
                              campo.slotOrari[slot.index].motivoPrenotazione ==
                              'partita',
                            'bg-success text-primary':
                              campo.slotOrari[slot.index].motivoPrenotazione !=
                              'partita'
                          }"
                          class="badge"
                        >
                          occupato
                        </span>
                      </div>
                    </div>
                  </div>
                  <ng-template #emptySlot>
                    <div
                      style="min-height: 35px"
                      class="gray w-100 position-relative d-flex align-items-center justify-content-center h-100"
                    >
                      Non disponibile
                    </div>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="w-100 d-flex justify-content-center gap-1">
            <button
              [ngClass]="{ disabled: slotSelezionati.length <= 0 }"
              (click)="prenotaFasciaOraria(dataSelezionata)"
              class="btn btn-primary btn-custom text-success w-50 p-1 p-md-2"
            >
              Prenota
            </button>

            <button
              [ngClass]="{
                disabled: slotSelezionati.length <= 0 || !sonoSlotPrenotati()
              }"
              (click)="apriModaleAnnulla()"
              class="btn btn-primary btn-custom text-success p-1 p-md-2"
            >
              Cancella Prenotazione
            </button>
          </div>
          <hr />
        </div>
      </div>
    </div>

    <div class="layout-desktop table-responsive-sm rounded-5 overflow-x-scroll">
      <table
        class="table table-striped table-borderless custom-table border border-success"
      >
        <thead>
          <tr>
            <th
              scope="col"
              *ngFor="let campo of campiDisp"
              class="fw-bold text-primary justify-content-center text-center bg-success align-items-center border border-success"
            >
              <div
                class="d-flex flex-column justify-content-center align-items-center"
              >
                <div
                  class="d-flex flex-column justify-content-center"
                  (mouseenter)="hoverCampo[campo.id!] = true"
                  (mouseleave)="hoverCampo[campo.id!] = false"
                >
                  <span
                    class="btn btn-success text-primary btn-sm"
                    *ngIf="!hoverCampo[campo.id!]"
                    style="width: 130px"
                    >{{ campo.nomeCampo }}</span
                  >
                  <span
                    (click)="selezionaTuttiGliSlotDelCampo(campo)"
                    *ngIf="hoverCampo[campo.id!]"
                    style="width: 130px"
                    [ngClass]="{
                      'btn btn-primary btn-sm text-success':
                        hoverCampo[campo.id!]
                    }"
                    >Seleziona
                  </span>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let slot of getNumMaxSlotsArray()">
            <td
              *ngFor="let campo of campiDisp"
              class="p-0 border-start border-end border-success"
            >
              <div
                *ngIf="campo.slotOrari[slot.index]; else emptySlot"
                class="h-100 w-100"
              >
                <div
                  (click)="selezionaSlot(campo.slotOrari[slot.index])"
                  [ngClass]="{
                    gray: verificaBottoneDisabilitato(
                      campo.slotOrari[slot.index].inizio
                    ),

                    selezionato: verificaSlotSelezionato(
                      campo.slotOrari[slot.index]
                    ),

                    'position-relative': true,
                    'd-flex align-items-center justify-content-center h-100': true
                  }"
                  class="position-relative d-flex align-items-center justify-content-center h-100"
                >
                  <span
                    *ngIf="
                      campo.slotOrari[slot.index] &&
                      !campo.slotOrari[slot.index].occupato
                    "
                    [ngClass]="{
                      'text-success': !verificaBottoneDisabilitato(
                        campo.slotOrari[slot.index].inizio
                      ),
                      'text-muted': verificaBottoneDisabilitato(
                        campo.slotOrari[slot.index].inizio
                      ),
                      'd-flex align-items-center justify-content-center': true
                    }"
                    class="d-flex align-items-center justify-content-center w-100"
                  >
                    {{ campo.slotOrari[slot.index].inizio | slice : 0 : 5 }} -
                    {{ campo.slotOrari[slot.index].fine | slice : 0 : 5 }}
                  </span>
                  <span
                    *ngIf="
                      campo.slotOrari[slot.index] &&
                      campo.slotOrari[slot.index].occupato &&
                      campo.slotOrari[slot.index].motivoPrenotazione ==
                        'partita'
                    "
                    class="badge bg-primary text-success position-absolute"
                  >
                    occupato
                  </span>
                  <span
                    *ngIf="
                      campo.slotOrari[slot.index] &&
                      campo.slotOrari[slot.index].occupato &&
                      campo.slotOrari[slot.index].motivoPrenotazione !=
                        'partita'
                    "
                    class="badge bg-success text-primary position-absolute"
                  >
                    {{ campo.slotOrari[slot.index].motivoPrenotazione }}
                  </span>
                </div>
              </div>
              <ng-template #emptySlot>
                <div
                  class="gray w-100 position-relative d-flex align-items-center justify-content-center h-100"
                >
                  Non disponibile
                </div>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        class="d-flex flex-md-nowrap justify-content-center p-1 justify-content-md-start p-md-2 gap-1 gap-md-3"
      >
        <button
          [ngClass]="{ disabled: slotSelezionati.length <= 0 }"
          (click)="prenotaFasciaOraria(dataSelezionata)"
          class="btn btn-primary btn-custom text-success p-1 p-md-2"
          style="width: 225px"
        >
          Prenota
        </button>
        <button
          [ngClass]="{
            disabled: slotSelezionati.length <= 0 || !sonoSlotPrenotati()
          }"
          (click)="apriModaleAnnulla()"
          class="btn btn-secondary btn-custom text-success p-1 p-md-2"
          style="width: 245px"
        >
          Cancella Prenotazione
        </button>
        <button
          [ngClass]="{
                  'btn-secondary  text-success':
                    slotSelezionati.length >0,
                  'btn-primary text-success':
                    slotSelezionati.length  <=0,
                }"
          (click)="selezionaTuttiGliSlot()"
          class="btn btn-primary btn-custom text-success p-1 p-md-2"
          style="width: 245px"
        >
          {{ slotSelezionati.length > 0 ? "Deseleziona" : "Seleziona tutto" }}
        </button>
        <button
          (click)="selezionaTuttiGliSlotNonOccupati()"
          class="btn btn-primary btn-custom text-success p-1 p-md-2"
          style="width: 245px"
        >
          Seleziona non occupati
        </button>
      </div>
    </div>
  </div>
</div>
