@import "../../../styles.scss";

.custom-table {
  background-color: $text !important;
}

.cursor-not-allowed {
  pointer-events: none;
  cursor: not-allowed;
}

.selezionato {
  background-color: $primary !important;
}

.custom-table tbody tr {
  height: 45px;
}

.custom-table tbody td {
  height: 40px;
  cursor: pointer;
  position: relative;
  border: 0 !important;
  &:hover {
    background-color: $primary !important;
  }
}

.table td,
.table th {
  vertical-align: middle;
  text-align: center;
  padding: 0;
}

.table-responsive-sm {
  overflow-x: auto;
  position: relative;
}

table .btn {
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  &:hover {
    color: $text;
  }
}

.gray {
  color: rgb(159, 158, 158);
}

@media (max-width: 576px) {
  td {
    font-size: 12px;
  }
  .btn-custom {
    font-size: 0.6rem;
  }
  .sticky-buttons {
    position: sticky;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
}

@media (max-width: 768px) {
  .layout-desktop {
    display: none;
  }

  .layout-mobile {
    display: block;
  }
}

.layout-desktop {
  display: block;
}

.layout-mobile {
  display: none;
}
