<main class="container min-vh-100 mb-5">
  <div class="container py-2 py-md-5">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-lg-4 col-12 mb-4">
        <div
          class="card bg-success p-3 rounded-6 d-flex justify-content-center text-center"
        >
          <img
            *ngIf="user?.avatar"
            style="object-fit: cover"
            class="rounded-circle align-self-center user-avatar"
            alt="avatar1"
            [src]="user!.avatar"
          />
          <img
            *ngIf="!user?.avatar"
            style="object-fit: cover"
            class="rounded-circle user-avatar align-self-center"
            alt="avatar1"
            src="../../../assets/Profile-Avatar-PNG-Free-Download.png"
          />
          <h5 class="my-3">{{ user?.username }}</h5>
          <div class="d-flex gap-2 justify-content-center">
            <button
              class="w-50 btn btn-primary btn-sm text-success d-flex align-items-center justify-content-center"
              (click)="apriModaleUpdate()"
            >
              <span class="me-3 fs-5"><i class="bi bi-pencil-square"></i></span>
              Modifica
            </button>
            <button
              class="btn btn-secondary btn-sm text-success d-flex align-items-center justify-content-center"
              (click)="apriModaleEliminaProfilo()"
            >
              <span class="me-3 fs-5"><i class="bi bi-trash3-fill"></i></span>
              Elimina profilo
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-12 mb-4">
        <div class="card bg-success p-3 rounded-6">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-5 col-sm-3">
                <p class="fw-bold mb-0">
                  <i class="bi bi-person-fill me-2"></i> Nome
                </p>
              </div>
              <div class="col-7 col-sm-9">
                <p class="mb-0">{{ user!.nome | capitalizeFirst }}</p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-5 col-sm-3">
                <p class="fw-bold mb-0">
                  <i class="bi-person-badge me-2"></i> Cognome
                </p>
              </div>
              <div class="col-7 col-sm-9">
                <p class="mb-0">{{ user!.cognome | capitalizeFirst }}</p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-5 col-sm-3">
                <p class="fw-bold mb-0">
                  <i class="bi bi-envelope-fill me-2"></i> Email
                </p>
              </div>
              <div class="col-7 col-sm-9">
                <p class="mb-0">{{ user?.email }}</p>
              </div>
            </div>
            <hr />
            <div class="row d-flex justify-content-center">
              <div class="col-6 col-sm-5">
                <div class="card bg-primary text-success">
                  <div class="card-body">
                    <div class="d-flex justify-content-between px-md-1">
                      <div class="align-self-center">
                        <i class="bi bi-trophy-fill fs-1"></i>
                      </div>
                      <div class="text-end">
                        <h3>{{ conteggioPartiteVinte }}</h3>
                        <p class="mb-0">Vittorie</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-5">
                <div class="card bg-secondary">
                  <div class="card-body">
                    <div class="d-flex justify-content-between px-md-1">
                      <div class="align-self-center">
                        <i class="bi bi-emoji-frown-fill fs-1"></i>
                      </div>
                      <div class="text-end">
                        <h3>{{ conteggioPartitePerse }}</h3>
                        <p class="mb-0">Sconfitte</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="d-flex justify-content-center text-primary align-items-center position-fixed z-3"
    *ngIf="caricamento"
    style="
      z-index: 1050;
      top: 50vh;
      left: 50vw;
      transform: translate(-50%, -50%);
    "
  >
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <!-- Parte delle partite da giocare -->
  <div class="container text-start mt-md-3 z-0">
    <h2 class="text-primary">Partite da giocare</h2>
    <h4 *ngIf="partiteDaGiocare.length <= 0">
      Nessuna partita presente in questa sezione.
    </h4>
    <div class="row">
      <div *ngFor="let partita of partiteDaGiocare" class="mb-3 col-md-6">
        <div
          class="card bg-success rounded-6 p-1 p-md-2 d-flex shadow position-relative shadow-3-primary"
        >
          <div
            class="card-body p-2 text-start my-3 d-flex flex-column justify-content-center"
          >
            <div
              class="position-relative border-bottom d-flex justify-content-between align-items-center border-secondary pb-4 h-100"
            >
              <h5 class="card-title m-0">
                {{ formattaData(partita.dataPrenotazione) }}<br />
                {{ partita.slotOrario.inizio | slice : 0 : 5 }} -
                {{ partita.slotOrario.fine | slice : 0 : 5 }}
              </h5>
              <div
                class="vr bg-primary position-absolute start-50"
                style="top: -15px; height: 100%; width: 2px"
              ></div>
              <div class="d-flex flex-column justify-content-center gap-1">
                <h5 class="card-subtitle text-primary">
                  {{ partita.slotOrario.campo.nomeCampo }}
                </h5>
                <span
                  [ngClass]="{
                    'bg-secondary':
                      partita.numGiocatoriAttuali < partita.numMaxGiocatori,
                    'bg-primary':
                      partita.numGiocatoriAttuali == partita.numMaxGiocatori,
                    
                  }"
                  class="badge rounded-pill text-success rounded-pill d-block"
                  style="width: 130px"
                  >{{
                    partita.numGiocatoriAttuali === partita.numMaxGiocatori
                      ? "Partita completa"
                      : "Partita incompleta"
                  }}</span
                >
              </div>
            </div>
            <div class="d-flex justify-content-center mt-4 mb-2">
              <div
                *ngFor="let i of [0, 1, 2, 3]; let j = index"
                class="avatar-wrapper"
              >
                <ng-container
                  *ngIf="
                    j < partita.utentiPrenotati.length;
                    else placeholderAvatar
                  "
                >
                  <button
                    class="btn btn-primary rounded-circle position-relative btn-floating shadow-0"
                    style="width: 50px; height: 50px; border: none"
                    [ngClass]="{
                      'border border-primary border-2':
                        partita.utentiPrenotati[j].id === this.user!.id
                    }"
                  >
                    <img
                      [src]="
                        partita.utentiPrenotati[j].avatar
                          ? partita.utentiPrenotati[j].avatar
                          : '../../../assets/Profile-Avatar-PNG-Free-Download.png'
                      "
                      alt="{{ partita.utentiPrenotati[j].nome }}"
                      class="w-100 h-100 rounded-circle img-fluid"
                      style="object-fit: cover"
                    />
                  </button>
                  <div class="mt-2 text-center avatar-text nome h6">
                    <span
                      class="d-block d-md-inline"
                      title="{{
                        partita.utentiPrenotati[j].nome
                          .charAt(0)
                          .toUpperCase() +
                          partita.utentiPrenotati[j].nome.slice(1) +
                          ' ' +
                          partita.utentiPrenotati[j].cognome
                            .charAt(0)
                            .toUpperCase() +
                          partita.utentiPrenotati[j].cognome
                            .slice(1)
                            .toLowerCase()
                      }}"
                    >
                      {{
                        partita.utentiPrenotati[j].nome.charAt(0).toUpperCase()
                      }}.
                    </span>
                    <span class="d-inline">
                      {{
                        partita.utentiPrenotati[j].cognome
                          .charAt(0)
                          .toUpperCase() +
                          partita.utentiPrenotati[j].cognome
                            .slice(1)
                            .toLowerCase()
                      }}
                    </span>
                  </div>
                </ng-container>
                <ng-template #placeholderAvatar>
                  <button
                    [ngClass]="{
                      'btn-dark': verificaUtenteGiaAggiunto(partita),
                      disabled: verificaUtenteGiaAggiunto(partita)
                    }"
                    class="btn btn-success rounded-circle position-relative btn-floating shadow-0"
                    style="width: 50px; height: 50px"
                  >
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/archive/3/36/20120517134445%21Tennis_ball_3.svg"
                      alt="Placeholder Avatar"
                      class="w-100 h-100 rounded-circle img-fluid"
                      style="object-fit: cover"
                    />
                  </button>
                  <div
                    class="mt-2 text-center text-secondary avatar-text nome h6"
                  >
                    {{
                      partita.numGiocatoriAttuali === partita.numMaxGiocatori
                        ? "Bloccato"
                        : "Mancante"
                    }}
                  </div>
                </ng-template>
              </div>
            </div>
            <div class="d-flex justify-content-center gap-1 gap-md-3 mt-3">
              <button
                [ngClass]="{
                  disabled: !verificaPiu24H(
                    partita.dataPrenotazione,
                    partita.slotOrario.inizio
                  )
                }"
                style="width: 220px"
                class="btn btn-secondary btn-sm text-primary shadow-none custom-button"
                (click)="apriModaleAnnullaPrenotazione(partita.id!)"
              >
                Annulla
              </button>

              <button
                *ngIf="partita.utentiPrenotati.length < 4"
                style="width: 220px"
                class="btn btn-sm custom-button"
                [ngClass]="{
                  'btn-secondary  shadow-none text-success':
                    partita.numGiocatoriAttuali < partita.numMaxGiocatori,
                  'btn-primary shadow-none text-success':
                    partita.numGiocatoriAttuali === partita.numMaxGiocatori
                }"
                (click)="bloccaESbloccaPartecipazione(partita)"
              >
                {{
                  partita.numGiocatoriAttuali === partita.numMaxGiocatori
                    ? "Sblocca prenotazioni"
                    : "Blocca prenotazioni"
                }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="d-flex justify-content-center text-primary align-items-center position-fixed z-3"
    *ngIf="caricamento"
    style="
      z-index: 1050;
      top: 50vh;
      left: 50vw;
      transform: translate(-50%, -50%);
    "
  >
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <!-- Parte delle partite passate -->

  <div class="container text-start mt-3 z-0">
    <h2 class="text-primary">Partite passate</h2>
    <h4 *ngIf="partitePassate.length <= 0">
      Nessuna partita presente in questa sezione.
    </h4>
    <div class="row">
      <div *ngFor="let partita of partitePassate" class="mb-3 col-md-6">
        <div
          class="card bg-success rounded-5 p-1 d-flex shadow position-relative"
        >
          <div
            class="card-body p-2 text-start my-3 d-flex flex-column justify-content-center"
          >
            <div
              class="position-relative border-bottom d-flex justify-content-between align-items-center border-secondary pb-4 h-100"
            >
              <h5 class="card-title m-0">
                {{ formattaData(partita.dataPrenotazione) }}<br />
                {{ partita.slotOrario.inizio | slice : 0 : 5 }} -
                {{ partita.slotOrario.fine | slice : 0 : 5 }}
              </h5>
              <div
                class="vr bg-primary position-absolute start-50"
                style="top: -15px; height: 100%; width: 2px"
              ></div>
              <div class="d-flex flex-column justify-content-center gap-1">
                <h5 class="card-subtitle text-primary">
                  {{ partita.slotOrario.campo.nomeCampo }}
                </h5>
                <span
                  *ngIf="
                    partita.numGiocatoriAttuali === partita.numMaxGiocatori &&
                    partita.giocatoriVincenti.length < 2
                  "
                  [ngClass]="{
                    'bg-secondary':
                      partita.numGiocatoriAttuali < partita.numMaxGiocatori,
                    'bg-primary':
                      partita.numGiocatoriAttuali == partita.numMaxGiocatori,
                    
                  }"
                  class="badge rounded-pill text-success rounded-pill d-block"
                  style="width: 130px"
                  >{{
                    partita.numGiocatoriAttuali === partita.numMaxGiocatori
                      ? "Partita completa"
                      : "Partita incompleta"
                  }}</span
                >
                <span
                  *ngIf="partita.giocatoriVincenti.length == 2"
                  [ngClass]="{
                    'bg-secondary':
                      !utenteHaVinto(partita),
                    'bg-primary':
                     utenteHaVinto(partita),
                    
                  }"
                  class="badge rounded-pill text-success rounded-pill d-block"
                  style="width: 130px"
                  >{{ utenteHaVinto(partita) ? "Vinta" : "Persa" }}</span
                >
              </div>
            </div>
            <div class="d-flex justify-content-center mt-4 mb-2">
              <div
                *ngFor="let i of [0, 1, 2, 3]; let j = index"
                class="avatar-wrapper"
              >
                <ng-container
                  *ngIf="
                    j < partita.utentiPrenotati.length;
                    else placeholderAvatar
                  "
                >
                  <button
                    [ngClass]="{
                      'border border-primary border-3':
                        partita.utentiPrenotati[j].id === this.user!.id
                    }"
                    class="btn btn-primary rounded-circle position-relative btn-floating disabled shadow-0"
                    style="width: 50px; height: 50px; border: none"
                  >
                    <img
                      [src]="
                        partita.utentiPrenotati[j].avatar
                          ? partita.utentiPrenotati[j].avatar
                          : '../../../assets/Profile-Avatar-PNG-Free-Download.png'
                      "
                      alt="{{ partita.utentiPrenotati[j].nome }}"
                      class="w-100 h-100 rounded-circle img-fluid"
                      style="object-fit: cover"
                    />
                  </button>
                  <div class="mt-2 text-center avatar-text nome h6">
                    <span
                      class="d-block d-md-inline"
                      title="{{
                        partita.utentiPrenotati[j].nome
                          .charAt(0)
                          .toUpperCase() +
                          partita.utentiPrenotati[j].nome.slice(1) +
                          ' ' +
                          partita.utentiPrenotati[j].cognome
                            .charAt(0)
                            .toUpperCase() +
                          partita.utentiPrenotati[j].cognome
                            .slice(1)
                            .toLowerCase()
                      }}"
                    >
                      {{
                        partita.utentiPrenotati[j].nome.charAt(0).toUpperCase()
                      }}.
                    </span>
                    <span class="d-inline">
                      {{
                        partita.utentiPrenotati[j].cognome
                          .charAt(0)
                          .toUpperCase() +
                          partita.utentiPrenotati[j].cognome
                            .slice(1)
                            .toLowerCase()
                      }}
                    </span>
                  </div>
                </ng-container>
                <ng-template #placeholderAvatar>
                  <button
                    [ngClass]="{
                      'custom-filter': partita.numGiocatoriAttuali == 4
                    }"
                    class="btn btn-success rounded-circle position-relative btn-floating shadow-0 disabled"
                    style="width: 50px; height: 50px"
                  >
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/archive/3/36/20120517134445%21Tennis_ball_3.svg"
                      alt="Placeholder Avatar"
                      class="w-100 h-100 rounded-circle img-fluid"
                      style="object-fit: cover"
                    />
                  </button>
                  <div
                    class="mt-2 text-center text-secondary avatar-text nome h6"
                  >
                    {{
                      partita.numGiocatoriAttuali === partita.numMaxGiocatori
                        ? "Bloccato"
                        : "Mancante"
                    }}
                  </div>
                </ng-template>
              </div>
            </div>
            <div class="d-flex justify-content-center gap-1 gap-md-3 mt-3">
              <button
                [disabled]="!oraPassata(partita)"
                [ngClass]="{
                  'disabled btn-large ': partita.giocatoriVincenti.length == 2
                }"
                *ngIf="partita.utentiPrenotati.length == 4"
                style="width: 220px"
                class="btn btn-primary btn-sm text-success shadow-none custom-button"
                (click)="apriModaleRisultato2(partita)"
              >
                {{
                  partita.giocatoriVincenti.length < 2
                    ? "Registra risultato"
                    : "Risultato inviato"
                }}
              </button>
              <button
                *ngIf="partita.utentiPrenotati.length < 4"
                style="width: 250px"
                class="btn btn-secondary btn-sm text-success shadow-none custom-button disabled"
              >
                Risultato Non disponibile
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
